<li class="list-group-item">
	{{burger_name}}

	<button type="button" class="close delete-burger" aria-label="close" data-id="{{this.id}}">
		<span aria-hidden="true">&times;</span>
	</button>
	<br>

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURRR!{{else}}RE-ADD TO MENU!{{/if}}
	</button>

</li>